#themeSwitch
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

#loginButton
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 65%;
}